Debug/
/.cproject
/.project
*.o
DrInSane
/Dr_In_Sane.dia.autosave
Tests/testrunner
Tests/.cccc/
.settings
*.gcda
*.gcno
a.out
Leveleditor/
*.*~
data/configs/game.yml
data/configs/slots.yml
doc/latex/*
